*.exe
*.bat
*.qpf
*.bak
*.qws
*.ver
*.dat
*.cdb
*.hdb
*.ddb

.DS_Store

.history/

RV32I_System/Altera_Mem_Dual_Port/
RV32I_System/Altera_PLL/

RV32I_System_Sim/work/
RV32I_System_Syn/db/
RV32I_System_Syn/incremental_db/
RV32I_System_Syn/simulation/